.searchStyle{
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 10px;
    background-color: #2C2F36;
    /* padding: 10px; */
}
.searchStyle input{
    background-color: #2C2F36;
    /* border-radius: 5px; */
    list-style: none;
    border: none;
    /* padding: 5px; */
}
.searchStyle ::placeholder{
    color: #FAFBFB;
}